.navigation{
    width: 0%;
    height: 0;

    &_checkbox{
        opacity: 0;
        height: 0%;
        
        

    }

    &_button{
        background-color: aliceblue;
        height:4rem;
        width:4rem;
        position: fixed;
        top:6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        text-align: center;
        @include respond(phone) { 
            right: 2rem;
        }
    }
    &_background{
        height: 3rem;
        width:3rem;
        border-radius: 50%;
        position: fixed;
        top:6.5rem;
        right: 6.5rem;
        background-image: radial-gradient(rgb(13, 46, 46),rgb(16, 151, 151));
        z-index: 1000;     //to make it visible above all
        //transform: scale(80);
        box-shadow: 0 1rem 3rem white;
            transition: all .8s;
            @include respond(phone) { 
                right: 2.5rem;
            }
    }
    &_nav{
        height: 100vh;
        width: 100%;
        position: fixed;
        top:0;
        left: 0%;
        z-index: 1500;
        width:0%;
        opacity:0;
        transition: all .8s;
    }
    &_list{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
       float:left;
       width:100%;
    }
    &_item{
        margin: 1rem;

    }
    &_link{
        &:link,&:visited{
        font-size: 2rem;
        font-weight: 400;
        padding:1rem 2rem;
        color:aliceblue;
        list-style: none;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg,transparent 0%,transparent 50%,rgb(135, 122, 122) 50%);
    background-size:220%;
    transition: all .4s;
    span{
        margin-right: 1rem;
        display: inline-block;
    }


    }
&:hover,
&:active{
    background-size: 100%;
}
}
&_checkbox:checked ~ &_background{
    transform: scale(80);
    width:50%;
}
    &_checkbox:checked ~ &_nav{
        width:100%;
        opacity: 1;
    }

    &_icon{
        position: relative;
        text-align: center;
        margin-top: 1.8rem;
        &,
        &::before,
        &::after{
            width:1.8rem;
            height:2.2px;
            background-color: palevioletred;
            display:inline-block;
        }
        &::before,&::after{
            content:"";
            position: absolute;
            left: 0%;
        }
        &::before{
            top:-1rem;
        }
        &::after{
            top:1rem;
        }
    }
    &_button:hover &_icon::before{
        top:-1rem;
        
    }
    &_button:hover &_icon::after{
        top:1rem;
        
    }
    &_checkbox:checked + &_button &_icon{
        background-color: transparent;
        text-align: center;
    }
    &_checkbox:checked + &_button &_icon:before{
        transform: rotate(45deg);
        top:0.2rem;
    }
    &_checkbox:checked + &_button &_icon:after{
        transform: rotate(-45deg);
        top:0.2rem;
    }

}